{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-4">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Steven Challis">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static "lib/bootstrap/css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "lib/font-awesome/css/font-awesome.css" %}">
    <style>
        @import url({% static "fonts/open-sans-fontface/Light/OpenSans-Light.ttf"});
        body {
            font-family: 'Open Sans Light', 'Open Sans';
            padding-top: 100px;
        }
        h1, h2, h3 {
            color: #777;
        }
        .pod {
            background-color: #fafafa;
            border-radius: 10px;
            padding: 1px 10px;
            margin-bottom: 30px;
        }
        .indicator {
            width: 20px;
            height: 20px;
        }
        .sc-donut-chart-graph {
            text-align: center;
            margin-bottom: 20px;
        }
        .center {
            text-align: center;
        }
        dt {font-weight: normal ; width: 80%; float: left;}
        dd {float: right; color: #aaa}
    </style>
</head>
<body>

{% block content %}
<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
    <span class="navbar-brand">Reports Dashboard</span>
</nav>
</div>
<div class="container-fluid" id="content-main">

    <div class="row">
        <div class="col-md-4">
            <div class="pod">
            <h2>Storage <small>(by site)</small></h2>
            <div id="graph-usage"><p class="center"><i class="fa fa-spinner fa-spin fa-2x"></i> Loading...</p></div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="pod">
            <h2>Usage <small>(by site)</small>
                <div class="dropdown pull-right">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Options
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li role="presentation">
                           <a role="menuitem" href="{% url 'reporting.views.download_csv' %}">Download report</a>
                        </li>
                    </ul>
                </div>
            </h2>
        <table class="table">
            <tr>
                <th>Domain</th>
                <th>Total Size</th>
                <th>Assets</th>
                <th>Transcodes</th>
                <th>Uploaders</th>
            </tr>
        {% for site in size_by_site %}
        <tr>
            <td><a href="{% url 'reporting.views.domain' site.domain  %}">{{site.domain}}</a></td>
            <td>{{site.size|filesizeformat}}</td>
            <td>{{site.count}}</td>
            <td>{{site.transcodes}}</td>
            <td>{{site.uploaders}}</td>
        </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
        </tr>
        <tr>
            <td>Total</td>
            <th>{{sizes.size|filesizeformat}}</th>
            <th>{{sizes.count}}</th>
            <th>{{sizes.transcodes}}</th>
            <th>{{sizes.uploaders}}</th>
        </tr>
        </table>
        </div>
        </div>
    </div> <!-- /row -->

    <div class="row row-padding">

        <div class="col-md-7">
            <div class="pod">
            <h2>Syncing</h2>
            <p>Data is this dashboard is only as up-to-date as the most recent sync for any given site.</p>
            <table class="table">
                <tr>
                    <th>Domain</th>
                    <!--<th>Start</th>-->
                    <th>End</th>
                    <th>Status</th>
                </tr>
            {% for sync in last_syncs %}
            <tr>
                <td><a href="{% url 'reporting.views.domain' sync.site.domain  %}">{{sync.site.domain}}</a></td>
                <!--<td>{{sync.start_time}}</td>-->
                <td>{{sync.end_time}}</td>
                <td>{% if sync.completed %}
                    <i class="fa fa-check">
                {% else %}
                    {% if sync.end_time %}
                        <i class="fa fa-close">
                    {% else %}
                        <i class="fa fa-refresh fa-spin">
                    {% endif %}
                {% endif %}</i></td>
            </tr>
            {% endfor %}
            </table>
            <p class="center"><a href="">View full report</a></p>
            </div>
        </div>

        <div class="col-md-5">
            <div class="pod">
                <h2>Top Uploaders</h2>
                {{ uploader_by_site}}
                <table class="table">
                    <tr>
                        <!--<th>Domain</th>-->
                        <th>Username</th>
                        <th>Uploads</th>
                    </tr>
                {% for site in top_uploaders%}
                <tr>
                    <!--<td><a href="{% url 'reporting.views.domain' site.domain  %}">{{site.domain}}</a></td>-->
                    <td>{{site.asset__username}}</td>
                    <td>{{site.count}}</td>
                </tr>
                {% endfor %}
                </table>
                <p class="center"><a href="">View full report</a></p>
            </div>
        </div>

    </div> <!-- /row -->

</div>
</body>

{% endblock %}
    <script src="{% static "lib/jquery-1.9.1.js" %}"></script>
    <script src="{% static "lib/bootstrap/js/bootstrap.js" %}"></script>
    <script src="{% static "lib/react-0.12.2/build/react-with-addons.js" %}"></script>
    <script src="{% static "lib/react-0.12.2/build/JSXTransformer.js" %}"></script>
    <script src="{% static "lib/d3.js" %}"></script>
    <script type="text/jsx">
      var SCDonutChartGraph = React.createClass({

        drawGraph: function() {
          var el = this.getDOMNode();
          var svg = d3.select(el).append('svg')
              .attr('class', 'd3')
              .attr('width', this.props.size)
              .attr('height', this.props.size);
          var arc = d3.svg.arc()
              .innerRadius(this.props.size/4)
              .outerRadius(this.props.size/2)
              .startAngle(function(d) { return d.start })
              .endAngle(function(d) { return d.end });

          // Draw donut circle
          var offset = this.props.size / 2
          svg.selectAll("path")
              .data(this.props.data)
              .enter()
              .append("path")
              .attr("d", arc)
              .style("fill", function(d){ return d.color })
              .attr("transform", "translate(" + offset + "," + offset + ")");

          // Draw center label
          svg.append("text").text(this.props.label)
              .attr("font-size", "1.5em")
              .attr("fill", "#aaa")
              .attr("x", this.props.size/2)
              .attr("y", this.props.size/2)
              .attr("text-anchor", "middle")
              .attr("dy", ".35em");
        },

        componentDidMount: function() {
            this.drawGraph();
        },

        componentDidUpdate: function() {
            this.drawGraph();
        },

        render: function() {
            return <div className="sc-donut-chart-graph"></div>
        }

      });

      var SCDonutChart = React.createClass({

        transformData: function() {
            var colors = [
              "#2bcabf",    // teal
              "#d83d3c",    // red
              "#f8b143",    // yellow
              "#aaa",       // grey
              "#58aadd",    // blue
              "#888",       // dark grey
              "#f38a31"     // orange
            ]
            var data = this.props.data;
            var total = d3.sum(data.map(function(d){return d[1]}));
            var scale = d3.scale
                .linear()
                .domain([0, total])
                .range([0, 2 * Math.PI]);
            var out = [];
            var start = 0;
            var index = 0;
            data.forEach(function(i){
                newstart = scale(i[1]) + start;
                out.push({
                    'domain': i[0],
                    'url': i[2],
                    'size': i[1],
                    'start': start,
                    'end': newstart,
                    'color': colors[index % colors.length]
                });
                start = newstart;
                index += 1;
            });
            return out
        },

        render: function() {
          var data = this.transformData();
          // TODO: Data computed twice
          var createItem = function(item){
              var indicatorStyle = {
                  backgroundColor: item.color,
                  height: 20,
                  width: 20,
                  display: 'inline-block',
                  verticalAlign: 'middle',
                  marginRight: 10,
              }
              return <tr>
                <td><div style={indicatorStyle}></div></td>
                <td><a href={item.url}>{item.domain}</a></td>
                <td>{item.size}</td>
              </tr>

          }
            return <div className="sc-donut-chart">
                <SCDonutChartGraph data={data} label={this.props.label} size={this.props.size} />
                <table className="table">{data.map(createItem)}</table>
            </div>
        }
      });

      var label = "{{sizes.size|filesizeformat}}";
      var total = {{sizes|safe}};
      var data = {{graph_assets_data|safe}} // [["domain", num, url],]

      React.render(<SCDonutChart data={data} label={label} size="200" />,
        document.getElementById('graph-usage')
      );
    </script>
</html>
