{% block content %}
<div id="content-main">
    <h1>ZONZA Reporting - {{domain}}</h1>

    <h2>Total usage</h2>
    <table>
        <tr>
            <th>Total Size</th>
            <th>Assets</th>
            <th>Transcodes</th>
            <th>Uploaders</th>
        </tr>
    {% for site in size_by_site %}
    <tr>
        <td>{{site.size|filesizeformat}}</td>
        <td>{{site.count}}</td>
        <td>{{site.transcodes}}</td>
        <td>{{site.uploaders}}</td>
    </tr>
    {% endfor %}
    </table>
    <br/>

    <!--<h2># uploaders per site</h2>-->
    <!--<table>-->
        <!--<tr>-->
            <!--<th>Domain</th>-->
            <!--<th>Uploaders</th>-->
        <!--</tr>-->
    <!--{% for site in num_uploaders_by_site %}-->
    <!--<tr>-->
        <!--<td><a href="{% url 'reporting.views.domain' site.domain  %}">{{site.domain}}</a></td>-->
        <!--<td>{{site.uploaders}}</td>-->
    <!--</tr>-->
    <!--{% endfor %}-->
    <!--</table>-->
    <!--<br/>-->

    <h2>Top uploaders</h2>
    {{ uploader_by_site}}
    <table>
        <tr>
            <th>Username</th>
            <th>Uploads</th>
        </tr>
    {% for site in top_uploaders%}
    <tr>
        <td>{{site.asset__username}}</td>
        <td>{{site.count}}</td>
    </tr>
    {% endfor %}
    </table>
    <br/>

    <h2>Recent Syncs</h2>
    <p>Data is this dashboard is only as up-to-date as the most recent sync for any given site.</p>
    <table>
        <tr>
            <th>Domain</th>
            <th>Start</th>
            <th>End</th>
            <th>Completed?</th>
        </tr>
    {% for sync in last_syncs %}
    <tr>
        <td><a href="{% url 'reporting.views.domain' sync.site.domain  %}">{{sync.site.domain}}</a></td>
        <td>{{sync.start_time}}</td>
        <td>{{sync.end_time}}</td>
        <td>{{sync.completed}}</td>
    </tr>
    {% endfor %}
    </table>
    <br/>

    <!--<h2># of assets per site</h2>-->
    <!--<table>-->
        <!--<tr>-->
            <!--<th>Domain</th>-->
            <!--<th>Assets</th>-->
        <!--</tr>-->
    <!--{% for site in num_assets_by_site %}-->
    <!--<tr>-->
        <!--<td><a href="{% url 'reporting.views.domain' site.domain  %}">{{site.domain}}</a></td>-->
        <!--<td>{{site.count}}</td>-->
    <!--</tr>-->
    <!--{% endfor %}-->
    <!--</table>-->
    <!--<br/>-->

</div>
{% endblock %}
