<configuration>
  <appSettings>
    <add key="PYTHONPATH" value="%SystemDrive%\home\site\wwwroot;%SystemDrive%\home\site\wwwroot\env\Lib\site-packages" />
    <add key="WSGI_HANDLER" value="warehouse.wsgi.application" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="Python273_via_FastCGI" />
      <remove name="Python340_via_FastCGI" />
      <add name="Python FastCGI"
           path="handler.fcgi"
           verb="*"
           modules="FastCgiModule"
           scriptProcessor="D:\Python27\python.exe|D:\Python27\Scripts\wfastcgi.py"
           resourceType="Unspecified"
           requireAccess="Script" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="Django Application" stopProcessing="true">
          <match url="(.*)" ignoreCase="false" />
          <conditions>
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="handler.fcgi/{R:1}" appendQueryString="fale" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
